<% include partials/header.ejs %>

<body>

  <nav>
    <ul>
      <li><img src="./logo.svg" alt="oba logo static"></li>
      <li><form class="" action="" method="post">
        <label class="" for="fun_txt">Zoeken</label>
        <input id="fun_txt" class="fun_txt" type="text" name="fun_txt" value="zoeken" placeholder="Zoeken...">
      </form></li>
      <li></li>
    </ul>
  </nav>

  <div class="main_wrapper">
    <aside class="">
      <button type="button" name="button">Leeg me</button>
      <h1><span>J</span><span>o</span><span>u</span><span>w</span> <span>k</span><span>e</span><span>u</span><span>z</span><span>e</span><span>s</span></h1>
      <div class="">
      </div>
    </aside>

  <div class="tricolor">
  <h1 id="pick">Kies <span id="numb">3</span> boeken</h1>
  <h1 class="hidden" id="you">Misschien vind je dit leuk...</h1>
  <main class="" id="root">


<form class="" action="/detail" method="post">
<% if (final) { final.forEach(function(book) { %>
<article class="">
  <label for="<%= book.title %>"><img src="<%=book.cover_image%>" alt=""></label>
  <input id="<%= book.title %>"type="checkbox" name="<%=book.title%>" value="<%=book.title%>">
</article>
    <% })} %>
<input type="submit" name="tekst" value="Verstuur">
</form>

  </main>

  </div>

  </div>

<% include partials/footer.ejs %>
</body>
